pandas~=1.3.3
decorator~=5.1.0
pyodbc~=4.0.32
tqdm~=4.62.3
XlsxWriter~=3.0.1
xmltodict~=0.12.0
loguru~=0.5.3
sqlalchemy~=1.4.25
openpyxl~=3.0.9
numpy~=1.21.2
git+https://github.com/arpuffer/pyvin@f96b8cf50ed7c8427537fb7d6fbe7d06496db485#egg=pyvin
git+https://github.com/city-of-baltimore/Geocoder@v1.0.4#egg=balt-geocoder
